.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    display: flex;
    justify-content: center;
    background-color: #081028;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    z-index: 1001; /* Ensure content is above the overlay */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.content-container {
    flex: 1;
    padding-top: 20px;
    margin-top: 10px;
}

.carousel-container {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jar-container {
    display: flex;
    padding: 0;
    color: #ffffff;
}

.jar {
    display: flex !important;
    flex-direction: column;
    margin: 20px 10px 0 10px;
    padding: 15px;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    width: 60px !important;
    border: 3px solid #DA4259;
    text-align: center;
}

.jar-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.jar:hover {
    transform: scale(1.05);
}

.jar-value {
    color: #ccc;
}

.dropdown-arrow {
    margin: 8px 8px 0 0;
    cursor: pointer;
}

.dropdown-arrow svg {
    font-size: 26px;
    color: white;
    margin-top: 90px;
}

.account-total {
    margin: 4px 0 0 20px;
    color: white;
}

.account-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #DA4259; /* Revert to original background color */
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.account-total-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
}

.account-item {
    color: #ffffff;
    list-style: none;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: -40px;
}

.account-list-container {
    background-color: #c22d44;
    border-radius: 10px;
    margin-top: -20px;
}

.account-background {
    background-color: #DA4259;
    border-radius: 10px;
    margin-top: 50px;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the slide takes full height */
    width: auto !important;
}

.slick-list {
    height: 120px;
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 20px !important;
}

.slick-prev, .slick-next {
    background-color: #DA4259; /* Set background color */
    color: white; /* Set arrow color */
    border-radius: 50%; /* Optional: make the buttons circular */
    width: 40px; /* Optional: set width */
    height: 40px; /* Optional: set height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.jar-carousel-container {
    margin: 0 auto; 
    background-color: #0B1739;
    border-radius: 10px;
}

.jar-details {
    background-color: #0B1739;
    border-radius: 10px;
    padding: 10px;
    height: calc(100vh - 260px); /* Adjust height to span the screen */
    position: relative; /* Ensure the edit button is positioned correctly */
    }

.create-jar-button {
    background-color: #DA4259;
    color: #ffffff;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 10px; /* Position the button at the top */
    right: 10px; /* Position the button on the right */
    cursor: pointer;
    font-size: 16px;
}

.edit-jar-button {
    background-color: #DA4259;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 10px; /* Position the button at the top */
    right: 10px; /* Position the button on the right */
    width: 75px;
    cursor: pointer;
    font-size: 16px;
}

.jar-details-name {
    font-weight: 400;
    color: #bdbcbc;
    margin: 16px 0 0 20px;
    font-size: 40px;
    width: 200px;
}

.jar-details-balance {
    color: #ffffff;
    margin: 0 0 0 50px;
    font-size: 45px;
    font-weight: 600;
}

.jar-details-goal {
    color: #ffffff;
    font-weight: 400;
    margin-left: 10px;
}

.progress-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 25px;
    height: 9%;
}

.jar-details-goal {
    margin-right: 10px;
}

.progress-bar-container {
    flex-grow: 1;
    background-color: #818080;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}

.progress-bar {
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-percentage {
    margin-left: 10px;
    color: #ffffff;
    margin-right: 10px;
}

.progress-completed {
    text-align: center;
    color: #ffffff;
}

.add-transactions-button {
    color: #ffffff;
    border: 3px solid #ffffff;
    background-color: transparent;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    padding: 0px 10px;
}

.transactions-wrapper {
    background-color: #0B1739;
    margin-top: 25px;
    border-radius: 10px;
    width: 100%; /* Ensure it takes full width of the container */
    max-height: 320px; /* Set a max height for the transactions table */
    overflow-x: auto; /* Add horizontal scroll if content overflows */
}

.transactions-title-wrapper {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0; /* Remove left margin */
    table-layout: fixed; /* Ensure fixed table layout */
}

.transactions-header {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 8px;
    font-size: 0.9em;
    position: sticky; /* Fix the header */
    top: 0;
    background-color: #0B1739; /* Match the background color */
    z-index: 1; /* Ensure it stays above the body */
}

.transactions-body {
    display: block;
    max-height: 220px; /* Adjust this value as needed */
    overflow-y: auto; /* Make the transactions table body scrollable */
    width: 500%;
}

.transactions-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #ffffff;
    text-align: center; /* Center the text horizontally */
}

.transactions-cell {
    color: #ffffff;
    padding: 8px;
    font-size: 0.9em;
    text-align: center; /* Center the text horizontally */
    vertical-align: middle; /* Center the text vertically */
}

.delete-jar-button {
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 8px;
    margin-left: 240px;
    cursor: pointer;
}

.edit-jar-header {
    color: #ffffff;
    margin: 10px 0;
}

.edit-jar-button-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.jar-popup-button {
    width: 200px; /* Set a fixed width for the button */
    font-size: 20px;
    padding: 15px 55px;
    background-color: #DA4259;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #DA4259;
    margin: 0 2.5px 0 10px;
}

.jar-popup-button--transparent {
    background-color: transparent;
    border: 3px solid #DA4259;
}

@media (min-width: 768px) {
    .edit-jar-button-wrapper {
        justify-content: center;
        gap: 10px;
    }

    .delete-jar-button {
        margin-left: 480px;
    }

    .edit-content-wrapper {
        display: flex;
    }

    .create-item {
        display: flex;
        margin-top: 20px;
    }

    .create-item:first-child {
        margin-bottom: -30px;
        margin-top: 8px;
    }

    .overlay-content {
        width: 100%;
        height: 300px;
    }

    .create-button-wrapper {
        margin-top: 60px;
    }

    .jar {
        width: 70px !important;
    }
}

@media (min-width: 1024px) {
    .progress-bar-wrapper {
        margin: 0 auto;
        height: 9%;
        margin-top: 30px;
        width: 93%;
    }

    .create-jar-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100px;
    }

    .jar-details-goal, .progress-percentage {
        font-size: 20px;
    }

    .account-total-container {
        height: 120px;
        margin-top: -40px;
    }

    .account-total {
        margin-top: 15px;
        font-size: 65px;
        color: white;
    }

    .account-item {
        font-size: 25px;
    }

    .edit-jar-button {
        position: absolute;
        top: 10px; /* Ensure the button stays at the top */
        width: 100px;
    }

    .content-wrapper {
        flex-direction: row;
    }

    .horizontal-carousel {
        display: none;
    }
    
    .content-container {
        margin-right: 270px; /* Ensure content does not go behind the carousel */
        margin-left: 335px;
    }

    .jar-details {
        margin-right: 270px;
        margin-left: 335px;
        height: calc(100vh - 260px); /* Ensure it spans the height of the screen */
        border: 1px solid grey;
    }

    .jar-container {
        margin: 75px 0 50px 80px;
        width: 100%;
    }

    .slick-slide {
        height: 20% !important;
    }

    .slick-track {
        height: 100% !important;
    }

    .transactions-wrapper {
        min-width: none;
        width: 100%; /* Ensure it takes full width of the container */
        margin: 50px 0; /* Adjust margin for better spacing */
    }
}
