body {
    background-color: #F6932A;
    background-image: linear-gradient(180deg, #F6932A 35%, #D44348 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Inter", serif;
  }