.create-account-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
 
.delete-account-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
 
.delete-account-content {
    background-color: #0B1739;;
    padding: 40px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
 
.create-account-content {
    background-color: #0B1739;;
    padding: 40px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
 
.edit-account-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
 
.edit-account-content {
    background-color: #0B1739;;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
 
.edit-account-title {
    font-size: 30px;
    margin: 0 0 20px 0;
}
 
.edit-account-form label {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 
.edit-account-form label input {
    margin: 10px auto;
}
 
.edit-account-button-container {
    display: flex;
    justify-content: space-between;
}
 
.edit-account-submit-button {
    background-color: #DA4259;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 75px;
}
 
.edit-account-cancel-button {
    background: none;
    color: white;
    border: 3px solid #DA4259 ;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 75px;
}
 
.edit-account-delete-button {
    background: none;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 75px;
    margin: 0 30px;
}
 
.delete-account-cancel-button {
    background: none;
    color: white;
    border: 3px solid #DA4259 ;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    width: 75px;
}
 
.delete-account-submit-button {
    background-color: #DA4259;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 75px;
    margin-left: 20px;
}
 
.accounts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
 
.accounts-title-text {
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0 20px 60px;
}
 
.account-selected-container {
    background-color: #0B1739;
    border: 1px solid white;
    border-radius: 10px;
    height: 200px;
}
 
.pie-chart-container {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #0B1739;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin: 20px 0;
}
 
.pie-chart {
    margin-top: 20px;
}
 
.pie-chart-container > canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.account-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Add spacing between the elements */
    margin: 0 20px; /* Add spacing from the nav bar */
}
 
.account-selected-item {
    color: #ffffff;;
}
 
.account-selected-title {
    font-size: 20px;
    margin: 5px 0 0 5px;
    color: gray;
}
 
.account-selected-balance {
    font-size: 44px;
    margin: 30px 10px 10px 10px;
}
 
.account-selected-edit-button {
    background-color: #DA4259;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 10px 10px 0;
    cursor: pointer;
    width: 75px;
}
 
.account-selected-create-button {
    background: none;
    color: white;
    border: 3px solid #DA4259;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 10px 10px 0;
    cursor: pointer;
    width: 75px;
}
 
.create-account-submit-button {
    background-color: #DA4259;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 75px;
}
 
.create-account-cancel-button {
    background: none;
    color: white;
    border: 3px solid #DA4259 ;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    width: 75px;
    margin-right: 30px;
}
 
.account-selected-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}
 
.create-account-button-container {
    margin-top: 30px;
    text-align: center;
}

.accounts-transaction-chart-container .line-chart-container{
    width: calc(100% - 40px); /* Adjust width to span both containers with some margin */
    max-width: 650px; /* Set a maximum width */
    margin: 20px auto; /* Center the container */
    border-radius: 10px;
    background-color: #0B1739;
    border: 1px solid #ffffff;
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box;
}
 
.account-pie-chart .pie-chart {
    width: 300px; /* Set your desired width */
    height: 300px; /* Set your desired height */
    margin: 0 auto; /* Center the chart */
}

.account-screen-chart .line-chart-container {
    width: 100%; /* Make the chart span the full width of its container */
    max-width: 800px; /* Set a maximum width */
    margin: 20px auto; /* Center the chart */
    border-radius: 10px;
    background-color: #0B1739;
    border: 1px solid #ffffff;
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box;
}

.accounts-transaction-chart-container {
    flex-grow: 1; /* Allow the chart container to take up the remaining space */
    max-width: calc(100% - 40px); /* Ensure it doesn't exceed the available space */
    margin: 0; /* Remove default margins */
}

.vertical-carousel-container {
    margin-right: 20px; /* Add spacing to the right of the vertical carousel */
}

@media (min-width: 768px) {
    .account-selected-container, .pie-chart-container {
        width: 300px;
    }
 
    .create-account-content {
        padding-left: 200px;
        padding-right: 200px;
    }
 
    .create-account-cancel-button,.create-account-submit-button {
        font-size: 20px;
        padding: 14px;
        width: 100px;
    }
 
    .create-account-content h2 {
        margin: 0 0 20px 30px;
        font-size: 30px;
    }
 
    .edit-account-content {
        padding-left: 200px;
        padding-right: 200px;
    }
 
    .edit-account-cancel-button, .edit-account-delete-button, .edit-account-submit-button {
        font-size: 20px;
        padding: 14px;
        width: 100px;
    }
 
    .edit-account-title {
        font-size: 30px;
        margin: 0 0 20px 90px;
    }

    .account-summary-container {
        margin-bottom: 50px;
    }

    .accounts-transaction-chart-container {
        min-width: 200px;
        max-width: 350px;
    }
}
 
@media (min-width: 1224px) {

    .accounts-transaction-chart-container {
        min-width: 500px;
        max-width: 650px;
    }

    .accounts-title-text {
        margin-left: 320px;
    }
 
    .account-summary-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
 
    .account-selected-container, .pie-chart-container {
        width: 300px;
    }
 
    .pie-chart-container {
        margin: 0 0 0 20px;
    }
 
    .account-selected-container {
        margin-left: 50px;
    }
}
 
@media (min-width: 1500px) and (max-width: 1700px) {
    .account-selected-container, .pie-chart-container {
        width: 400px;
    }

    .accounts-transaction-chart-container {
        min-width: 500px;
        max-width: 800px;
    }
}
 
@media (min-width: 1701px) {
    .account-selected-container, .pie-chart-container {
        width: 475px;
    }

    .account-summary-container {
        margin-right: 40px;
    }

    .accounts-transaction-chart-container {
        min-width: 500px;
        max-width: 950px;
    }
}
