.vertical-carousel-wrapper {
    display: none;
    position: fixed;
    right: 20px;
    top: 40px;
    height: 100%;
    width: 200px;
    margin-right: 15px;
}
 
@media (min-width: 1024px) {
    .custom-arrow {
        width: 30px;
        height: 30px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
   
    .custom-arrow:hover {
        transform: scale(1.1);
    }
 
    .vertical-carousel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    .vertical-carousel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0B1739;
        width: 100%;
        height: 90.5%;
        position: relative;
        border: 1px grey solid;
        border-radius: 10px;
    }
 
    .account-carousel-container.vertical-carousel {
        overflow: hidden;
        height: 800px;
        width: 100%;
        position: relative;
    }
 
    .account-container {
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        margin: 10px 0 0 0;
        overflow-y: hidden;
        user-select: none;
    }
 
    .account {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin: 20px auto;
        width: 80px;
        padding: 10px 20px;
        cursor: pointer;
        border: 3px solid #DA4259;
        color: #ffffff;
        border-radius: 30px;
    }
 
    .account-value, .account-name {
        margin-top: 10px;
        font-size: 20px;
    }
 
    .custom-prev-arrow {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
 
    .custom-next-arrow {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}
