.login-title-wrapper {
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
}
  
.logo-login {
    height: 100px;
}

.login-title-text {
    font-weight: 450;
    margin: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

input[type="text"], input[type="password"], input[type="email"] {
    color: #ffffff;
}

.input-field {
    margin-top: 10px;
    width: 220px;
    background: none;
    border: 1px solid #DA4259;
    border-radius: 12px;
    padding: 5px;
}

.input-field:focus {
    border: 1px solid #ffffff;
    outline: none;
}

.input-field::placeholder {
    color: #e9e9e9;
}

.login-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.login-link-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-submit-button {
    background-color: #DA4259;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0 0;
    cursor: pointer;
    border-radius: 15px;
}

.back-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: #DA4259 3px solid;
}

.forgot-password-button, .join-us-button{
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    width: 225px;
    margin: 0 auto;
}

.forgot-password-button {
    margin-top: 25px;
}

.join-us-button {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .login-title-wrapper {
        font-size: 34px;
        margin-top: 50px;
    }

    .login-button-wrapper {
        flex-direction: row;
        margin-top: 100px;
    }

    .forgot-password-button, .join-us-button {
        font-size: 18px;
    }

    .login-form {
        margin-top: 50px;
    }

    .logo-login {
        width: 125px;
        height: auto;
    }

    .input-field {
        width: 220px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 18px;
        padding: 10px;
        color: #ffffff;
    }

    .login-submit-button {
        font-size: 20px;
        padding: 20px 45px;
        margin: 0 0 0 8px;
    }

    .back-button {
        font-size: 20px;
        padding: 20px 45px;
        margin: 0 8px 0 0;
    }
}

@media (min-width: 1024px) {
    .forgot-password-button, .join-us-button {
        font-size: 20px;
    }

    .login-form {
        margin-top: 50px;
    }

    .login-title-wrapper {
        margin: 30px 0 0 0;
    }

    .logo-login {
        width: 120px;
    }

    .input-field {
        width: 230px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 20px;
        padding: 12px;
        color: #ffffff;
    }

    .login-submit-button {
        font-size: 24px;
        padding: 15px 55px;
    }

    .back-button {
        font-size: 24px;
        padding: 15px 55px;
    }
}
