.account-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 425px;
    overflow-y: auto;
}
 
.account-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
 
.account-message-wrapper {
    color: white;
    text-align: center;
    margin-top: 100px
}
 
.add-account-button {
    color: #ffffff;
    border: 3px solid #ffffff;
    background-color: transparent;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    margin: 10px 195px 0 0;
    cursor: pointer;
}
 
.button-wrapper {
    display: flex;
    margin-top: 50px;
}
 
.login-submit-button {
    margin: 0 0 0 10px;
}
 
.account-title-wrapper {
    display: flex;
    color: #ffffff;
}
 
.account-logo {
    height: 75px;
    margin-right: 15px;
}

.input-field-account {
    margin: 10px 5px 0px 5px;
    width: 220px;
    background: none;
    border: 3px solid #DA4259;
    border-radius: 12px;
    padding: 5px;
}

.account-form-item:last-child{
    margin-bottom: 16px;
}

.input-field-account:focus {
    border: 3px solid #ffffff;
    outline: none;
}

.input-field-account::placeholder {
    color: #e9e9e9;
}
 
 
@media (min-width: 768px) {
    .account-logo {
        height: 80px;
    }
 
    .account-title-text {
        font-size: 34px;
    }
 
    .add-account-button {
        margin-left: -280px;
    }
 
    .account-form-container {
        width: 600px;
        margin: 0 auto;
    }
 
    .account-message-text {
        font-size: 34px;
    }
 
}
 