.password-title-wrapper {
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
}
  
.logo-password {
    height: 100px;
}

.security-title-wrapper {
    color: #ffffff;
    margin: 45px 0 0 0;
}

.security-title-text {
    font-weight: 400;
}

.register-security-wrapper {
    text-align: center;
}

.input-field-security {
    width: 150px;
    background: none;
    border: 3px solid #DA4259;
    border-radius: 12px;
    padding: 5px;
}

.input-field-security-answer {
    width: 100px;
    background: none;
    border: 3px solid #DA4259;
    border-radius: 12px;
    padding: 5px;
    margin: 10px 0 0 10px;
}

.password-title-text {
    font-weight: 450;
    margin: 0;
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

input[type="text"], input[type="password"], input[type="email"] {
    color: #ffffff;
}

.input-field {
    margin-top: 10px;
    width: 220px;
    background: none;
    border: 3px solid #DA4259;
    border-radius: 12px;
    padding: 5px;
}

.input-field:focus {
    border: 3px solid #ffffff;
    outline: none;
}

.input-field::placeholder, .input-field-password::placeholder, .input-field-security::placeholder, .input-field-security-answer::placeholder {
    color: #bbbbbb;
}

.input-field:focus::placeholder, .input-field-password:focus::placeholder, .input-field-security.input-field:focus::placeholder, .input-field-security-answer:focus::placeholder {
    color: #ffffff;
}

.password-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.password-link-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.password-submit-button {
    background-color: #DA4259;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0 0;
    cursor: pointer;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .password-title-wrapper {
        font-size: 34px;
        margin-top: 50px;
    }

    .password-button-wrapper {
        flex-direction: row;
        margin-top: 100px;
    }

    .password-form {
        margin-top: 50px;
    }

    .logo-password {
        width: 125px;
        height: auto;
    }

    .input-field {
        width: 220px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 18px;
        padding: 10px;
        color: #ffffff;
    }

    .password-submit-button {
        font-size: 20px;
        padding: 20px 45px;
        margin: 0 0 0 8px;
    }

    .back-button {
        font-size: 20px;
        padding: 20px 45px;
        margin: 0 8px 0 0;
    }

    .input-field-security {
        width: 260px;
    }

    .input-field-security-answer {
        width: 200px;
    }

    .security-title-text {
        font-size: 34px;
    }
}

@media (min-width: 1024px) {
    .password-form {
        margin-top: 50px;
    }

    .password-title-wrapper {
        margin: 30px 0 0 0;
    }

    .logo-password {
        width: 120px;
    }

    .input-field {
        width: 230px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 20px;
        padding: 12px;
        color: #ffffff;
    }

    .password-submit-button {
        font-size: 24px;
        padding: 15px 55px;
    }

    .back-button {
        font-size: 24px;
        padding: 15px 55px;
    }
}
