.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px
}
  
.carousel-inner {
    display: flex;
    align-items: center;
}
  
.carousel-images {
    display: flex;
    align-items: center;
}
  
.carousel-image {
    transition: transform 0.3s ease-in-out;
}
  
.carousel-image.small {
    width: 400px;
    height: auto;
    opacity: 0.7;
}
  
.carousel-image.large {
    width: 600px;
    height: auto;
    opacity: 1;
}
  
.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: #D4405C;
    border-radius: 16px;
    padding: 1px  10px;
    margin: 0 10px;
    color: #ffffff;
}
  
.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
  
.dot.active {
    background-color: #717171;
}

@media (max-width: 768px) {
    .carousel-container {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1100px) {
    .carousel-container {
        width: 100%;
    }

    .carousel-image.small {
        width: 0px;
    }

    .carousel-image.large {
        width: 500px; 
    }
}

@media (min-width: 1101px) and (max-width: 1529px) {
    .carousel-container {
        width: 100%; 
    }

    .carousel-image.small {
        width: 250px; 
    }

    .carousel-image.large {
        width: 425px; 
    }
}
