.logo-home {
    height: 100px;
}

.carousel-wrapper {
    visibility: hidden;
}

.logo-home:hover {
    animation: breathe 1s infinite alternate;
    cursor: pointer;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.title-wrapper {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fffcfc;
    text-align: center;
    margin: 250px 0 0 0;
}

.title-text {
    font-weight: 450;
    margin: 0;
}

.login-wrapper {
    text-align: center;
    margin-top: 40px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.login-button-home, .register-button-home {
    flex: 1;
    max-width: 200px; /* Optional: set a max-width if you want to limit the button size */
    background-color: #DA4259;
    color: #ffffff;
    border: none;
    padding: 20px 0; /* Ensure equal vertical padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 5px 0 5px; /* Adjust margin for equal spacing */
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.register-button-home {
    background-color: transparent;
    border: #DA4259 3px solid;
}

@media (min-width: 768px) {
    .title-wrapper {
        justify-content: center;
        font-size: 34px;
        margin-top: 50px;
    }

    .logo-home {
        height: 100px;
    }

    .login-wrapper {
        margin-top: 35px;
    }

    .login-button-home, .register-button-home {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .title-wrapper {
        text-align: center;
        justify-content: center;
        font-size: 34px;
        margin: 79px 0 0 0;
    }

    .logo-home {
        height: 120px;
    }

    .login-wrapper {
        margin-top: 35px;
    }

    .login-button-home, .register-button-home {
        font-size: 24px;
        padding: 15px 0; /* Ensure equal vertical padding */
    }

    .carousel-wrapper {
        visibility: visible;
    }
}
